<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>
<main class="profile-main">

    
    <section class="user-tag">
        
        <article class="user-card">
            <img src="../images/avatars/<%= user.avatar %>" alt="Mujer">

            <div class="contenedor">
                <h2 class="title">
                    Welcome <%= user.name %> 
                </h2>
                
                <a href="#" class="cta1">Ir a comprar</a>
                
            </div>

        </article>
    </section>

</main>
<%- include('partials/footer') %>

</body>
</html>